{% extends 'layout.html.twig' %}
{% block content %}
    <p>Calibración</p>
    <p class="text-center">
        <a href="{{ path('homepage') }}" class="btn btn-primary">Anterior</a>
        <a href="{{ path('calibracion_2') }}" class="btn btn-primary">Siguiente</a>
    </p>
{% endblock %}